<div class="footer">
  <div class="divFooter">
    <div>
      <a href="#">
        <img src="../../assets/img/footer/logo.png" alt="logo">
      </a>
    </div>
    <div class="middle">
      <span>© Julian Klee 2024</span>
      <div class="divImpressum">
       <a class="linkImpressum" href="impressum" target="_blank">Impressum</a>
       <div class="borderImpressum"></div>
      </div>
    </div>
    <div class="divLinks">
      <div class="divLink">
        <a href="https://github.com/JuelZ13" target=_blank><img src="../../assets/img/footer/github.png" alt=""></a>
      </div >
      <div class="divLink">
        <a href="mailto:j.klee@it-klee.de"><img src="../../assets/img/footer/mail.png" alt=""></a>
      </div>
      <div class="divLink">
        <a href="https://www.linkedin.com/in/julian-klee-a428a92b6/" target=_blank><img src="../../assets/img/footer/linkedIn.png" alt=""></a>
      </div>
    </div>
  </div>
</div>
