<div [class.mobileNavbar]="1 == mobileMenu" class="navbar">
  <a href="#">
    <img src="../../assets/img/header/logo.png" alt="logo">
  </a>
  <img [class.mobileMenuOpen]="1 == mobileMenu" class="desktop_d-none" (click)="mobileMenu=1" src="../../assets/img/header/burgerbutton.png" alt="burgerbutton">
  <div [class.mobileMenu]="1 == mobileMenu" class="mobile_d-none">
    <div class="mobileMenuLogo">
      <img src="../../assets/img/header/logo_red.png" alt="logo">
      <img class="mobileX" (click)="mobileMenu=0" src="../../assets/img/header/x.png" alt="x">
    </div>
    <div class="mobileLinks">
      <div class="links">
        <div>
          <a (click)="languageModule.impressumOn = false; true" [class.linkActive]="1 == linkActive" class="aboutme" href="#aboutme" (click)="linkActive=1; mobileMenu=0">{{ languageModule.sl_aboutme }}</a>
          <div [class.linkAboutMeActive]="1 == linkActive"></div>
        </div>
        <div>
          <a (click)="languageModule.impressumOn = false; true" [class.linkActive]="2 == linkActive" class="skillset" href="#skills" (click)="linkActive=2; mobileMenu=0">{{ languageModule.sl_skillset }}</a>
          <div [class.linkskillSetActive]="2 == linkActive"></div>
        </div>
        <div>
          <a (click)="languageModule.impressumOn = false; true" [class.linkActive]="3 == linkActive" class="mywork" href="#mywork" (click)="linkActive=3; mobileMenu=0">{{ languageModule.sl_mywork }}</a>
          <div [class.linkMyWorkActive]="3 == linkActive"></div>
        </div>
      </div>
      <div class="languageDiv">
        <a (click)="languageModule.selectLanguage(); mobileMenu=0"><img class="languageImg" src="{{ languageModule.sl_languageImg }}" alt="language"></a>
      </div>
    </div>
  </div>
</div>
