<app-navbar></app-navbar>
<div class='impressum'>
  <h1>{{ languageModule.sl_imprintHeadline }}</h1>
  <p>{{ languageModule.sl_imprintP1 }}</p>
  <p>Julian Klee <br>
    Am Aspherfeld 23<br>
    35083 Wetter <br>
  </p>
  <p> <strong>{{ languageModule.sl_imprintP2 }}</strong><br>
    Julian Klee<br>
  </p>
  <p><strong>{{ languageModule.sl_imprintP3 }}</strong> <br>
    Tel: 06423-9397630<br>
    Mail: <a href='mailto:j.klee@online.de'></a>j.klee&#64;it-klee.de<br></p>
  <p><strong>{{ languageModule.sl_imprintP4 }}</strong><br>
  <br><strong>{{ languageModule.sl_imprintP5 }}</strong><br><br>
    {{ languageModule.sl_imprintP6 }}
    <br><br>
    <strong>{{ languageModule.sl_imprintP7 }}</strong><br><br>
    {{ languageModule.sl_imprintP8 }}<br>
    <br><strong>{{ languageModule.sl_imprintP9 }}</strong><br><br>
    {{ languageModule.sl_imprintP10 }}
    <br>
    <br><strong>{{ languageModule.sl_imprintP11 }}</strong><br><br>
    {{ languageModule.sl_imprintP12 }}
    <br>
    {{ languageModule.sl_imprintP13 }}
    <br>
    {{ languageModule.sl_imprintP14 }}<br>
  </p><br>
</div>
<app-footer></app-footer>
