.background {
  position: relative;
  background: linear-gradient(179.99deg, #FFFFFF 12.89%, #FFEAEA 91.39%);
  height: 100vh;
  min-height: 800px;
  display: flex;
  justify-content: center;

  .max-width{
    position: relative;
    height: 100vh;
    min-height: 800px;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 100px);
    max-width: 1440px;
    padding-right: 100px;
  }

  .ellipsebg{
    position: absolute;
    object-fit: cover;
    min-width: 612px;
    width: 892px;
    max-width: 60%;
    top: -71px;
    left: -199px;
  }

  .profilimg {
    margin-top: 106px;
    object-fit: cover;
    object-position: top;
    z-index: 1;
    max-width: 72%;
  }

  .headline {
    position: relative;
    display: flex;
    flex-direction: column;
    color: #FF5959;
    margin-top: 200px;

    .h1 {
      font-family: "Montserrat";
      font-size: 64px;
      font-weight: 400;
      line-height: 100px;
      letter-spacing: 0em;
      text-align: left;
    }

    .h2 {
      font-family: "Baloo";
      font-size: 128px;
      font-weight: 400;
      line-height: 120px;
      letter-spacing: -0.025em;
      text-align: left;
    }
    .h3 {
      font-family: "Baloo";
      font-size: 118px;
      font-weight: 400;
      line-height: 120px;
      letter-spacing: -0.02em;
      text-align: left;
    }
  }

  .scrollInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FF5959;
    font-size: 24px;
    margin-top: 116px;

    .line {
      width: 2px;
      height: calc(100vh - 685px);
      background-color: #FF5959;
    }
  }
}

.divLinks{
  position: absolute;
  top: calc(100vh - 300px);
  right: 100px;
  height: 300px;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .divLink{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &:hover > a{
      cursor: pointer;
      transform: translateX(-16px);
      transition: transform 100ms;
    }
  }
}

.ellipse {
  position: absolute;
  bottom: -103px;
  left: calc(50% - 103px);
  z-index: 1;
}

@media(min-width: 1440px){
  .background{
    width: calc(100vw - 17px);
  }
}

@media(max-width: 1440px){

  .h1 {
    font-size: 36px !important;
    line-height: 36px !important;
  }
  .h2 {
    font-size: 73px !important;
    line-height: 88px !important;
    letter-spacing: -0.025em !important;
  }
  .h3 {
    font-size: 67px !important;
    line-height: 80px !important;
    letter-spacing: -0.02em !important;
  }
  .line {
    height: calc(100vh - 549px) !important;
  }
}


@media(max-width: 1040px){
  .ellipsebg{
    top: -22px !important;
    left: -228px !important;
    width: 612px !important;
    max-width: none;
  }

  .max-width {
    flex-direction: column-reverse !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
    width: calc(100% - 32px) !important;

    .headline {
      color: white !important;
    }

    .scrollInfo {
      display: none;
    }

    .profilimg {
      margin-top: 0;
      max-height: 60vh;
      max-width: calc(60vh / 761 * 917);
    }

    .ellipse {
     width: 156px;
     height: 156px;
     object-fit: cover;
    }
  }
  .divLinks{
    display: none;
  }
}

@media(max-width: 400px){
  .ellipsebg{
    min-width: 520px !important;
  }

  .h1 {
    font-size: 24px !important;
    line-height: 24px !important;
  }
  .h2 {
    font-size: 56px !important;
    line-height: 56px !important;
  }
  .h3 {
    font-size: 51px !important;
    line-height: 64px !important;
  }

}
