<div class="background">
  <div class="max-width">
    <img class="ellipsebg" src="../../assets/img/pov/ellipsebg.png">
    <img class="profilimg" src="../../assets/img/pov/profile.png" alt="myPicture">
    <div class="info">
      <div class="headline">
        <span class="h1">{{ languageModule.sl_h1 }}</span>
        <span class="h2">FRONTEND</span>
        <span class="h3">DEVELOPER</span>
      </div>
      <div class="scrollInfo">
        <span>{{ languageModule.sl_scroll }}</span>
          <div class="line"></div>
      </div>
      <div class="divLinks">
        <div class="divLink">
          <a href="https://github.com/JuelZ13" target=_blank><img src="../../assets/img/pov/github.png" alt=""></a>
        </div >
        <div class="divLink">
          <a href="mailto:j.klee@it-klee.de"><img src="../../assets/img/pov/mail.png" alt=""></a>
        </div>
        <div class="divLink">
          <a href="https://www.linkedin.com/in/julian-klee-a428a92b6/" target=_blank><img src="../../assets/img/pov/linkedIn.png" alt=""></a>
        </div>
      </div>
    </div>
    <img class="ellipse" src="../../assets/img/pov/ellipse.png" alt="ellipse">
  </div>
</div>
