<div class="divHeadlline" >
  <h1>{{ languageModule.sl_h1Mywork }}</h1>
  <img src="../../assets/img/mywork/Ellipse.png" alt="">
</div>
<div class="divDescription">
  <span>{{ languageModule.sl_spanMywork }}</span>
  <div>
    <img src="../../assets/img/mywork/Ellipse.png" alt="">
  </div>
</div>

<img class="backgroundElipse1" src="../../assets/img/mywork/Ellipse1.png" alt="">
<img class="backgroundElipse2" src="../../assets/img/mywork/Ellipse2.png" alt="">
<img class="backgroundElipse3" src="../../assets/img/mywork/Ellipse3.png" alt="">
<img class="backgroundElipse4" src="../../assets/img/mywork/Ellipse4.png" alt="">
<img class="backgroundElipse5" src="../../assets/img/mywork/Ellipse5.png" alt="">
<img class="backgroundElipse6" src="../../assets/img/mywork/Ellipse6.png" alt="">

<app-project></app-project>
