@import "../../shared/variables";

#bubbles {
  height: 100%;
  padding: 100px 0
}

.bubble {
  width: 60px;
  height: 60px;
  background: radial-gradient(74.22% 74.22% at 19.79% 22.42%, #FF5959 6.25%, #FF5959 51.56%, #DE0000 100%);
  border-radius: 200px;
  position: absolute;
}


.x1 {
  left: 30px;
  transform: scale(0.9);
  opacity: 0.2;
  animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x2 {
  left: 70px;
  transform: scale(0.6);
  opacity: 0.5;
  animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
}
.x3 {
  left: 110px;
  transform: scale(0.8);
  opacity: 0.3;
  animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
}
.x4 {
  left: 150px;
  transform: scale(0.75);
  opacity: 0.35;
  animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;

}
.x5 {
  left: 190px;
  transform: scale(0.8);
  opacity: 0.3;
  animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
}

.x6 {
  right: 190px;
  transform: scale(0.9);
  opacity: 0.2;
  animation: moveclouds 15s linear infinite, sideWays 4s ease-in-out infinite alternate;
}

.x7 {
  right: 150px;
  transform: scale(0.6);
  opacity: 0.5;
  animation: moveclouds 25s linear infinite, sideWays 5s ease-in-out infinite alternate;
}
.x8 {
  right: 110px;
  transform: scale(0.8);
  opacity: 0.3;
  animation: moveclouds 20s linear infinite, sideWays 4s ease-in-out infinite alternate;
}
.x9 {
  right: 70px;
  transform: scale(0.75);
  opacity: 0.35;
  animation: moveclouds 18s linear infinite, sideWays 2s ease-in-out infinite alternate;

}
.x10 {
  right: 40px;
  transform: scale(0.8);
  opacity: 0.3;
  animation: moveclouds 7s linear infinite, sideWays 1s ease-in-out infinite alternate;
}

@keyframes moveclouds {
  0% {
      top: (random(2000) + 2000)+px;
  }
  100% {
      top: 0px;
  }
}

@keyframes sideWays {
  0% {
      margin-left:0px;
  }
  100% {
      margin-left: (random(50) + 50)+px;
  }
}

.max-width{
  max-width: 1440px;
  width: 100vw;
}

.divHeadlline{
  display: flex;
  width: calc(100% - 100px);
  padding-left: 100px;
  padding-top: 40px;

  h1{
    color:#FF5959;
    font-family: "Baloo";
    font-size: $headlines;
    font-weight: 400;
    line-height: 96px;
    letter-spacing: 0.01em;
    text-align: left;
  }

  img{
    height: 108.75px;
    width: 108.75px;
    object-fit: cover;
    margin-left: 60px
  };
}

.divDescription{
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;

  span{
    display: flex;
    width: calc(50vw - 100px);
    max-width: 620px;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
  }
  div{
    img{
      width: 183px;
      height: 183px;
      object-fit: cover;
    }
  }
}

.backgroundElipse1{
  position: absolute;
  display: flex;
  object-fit: cover;
  top: 670px;
  transform:rotate(-81.57deg);
  z-index: -999;
  height: 393.32px;
  left: 166.07px;
}

.backgroundElipse2{
  position: absolute;
  display: flex;
  object-fit: cover;
  top: 980px;
  right: 0;
  z-index: -999;
}
.backgroundElipse3{
  position: absolute;
  display: flex;
  object-fit: cover;
  left: 100px;
  top: 1380px;
  z-index: -999;
}
.backgroundElipse4{
  position: absolute;
  display: flex;
  object-fit: cover;
  left: 160px;
  top: 1850px;
  z-index: -999;
}
.backgroundElipse5{
  position: absolute;
  display: flex;
  object-fit: cover;
  right: 100px;
  top: 2400px;

}
.backgroundElipse6{
  position: absolute;
  display: flex;
  object-fit: cover;
  left: 600px;
  top: 2920px;
  z-index: -999;
}

@media(max-width: 1199px){
  .divHeadlline{
    padding-left: 25px;

    h1{
      font-size: 64px;
      line-height: 76.8px;
    }

    img{
      transform: translateX(-64px);
      width: 45px;
      height: 45px;
    }
  }

  .divDescription{
    flex-direction: column;
    padding-left: 25px;

    span{
      width: 100%;
    }
    div{
      display: flex;
      justify-content: flex-end;
      img{
        width: 70px;
        height: 70px;
      }
    }
  }

  .backgroundElipse1{
    top: 540px;
    height: 238.11px;
  }
  .backgroundElipse2{
    top: 1135px;
    height: 269.17px;
  }
  .backgroundElipse3{
    display: none;
  }
  .backgroundElipse4{
    left: 0px;
    top: 1950px;
    height: 134.91px;
  }
  .backgroundElipse5{
    top: 2725px;
    height: 39px;
  }
  .backgroundElipse6{
    top: 3390px;
    left: 283px;
    height: 78px;
  }
}

@media(max-width: 475px){
  .divHeadlline{
    width: calc(100% - 25px);
    display: block;
  }

  .backgroundElipse6{
    top: 3390px;
    left: 224px;
    height: 78px;
  }
}
