<app-navbar></app-navbar>
<div class='privacy'>
  <h1>Datenschutzerklärung</h1>
  <p>Stand: 12. Februar 2024</p>
  <h2>Inhaltsübersicht</h2>
  <ul class="index">
    <li><a class="index-link" href="#m3">Verantwortlicher</a></li>
    <li><a class="index-link" href="#mOverview">Übersicht der Verarbeitungen</a></li>
    <li><a class="index-link" href="#m2427">Maßgebliche Rechtsgrundlagen</a></li>
    <li><a class="index-link" href="#m27">Sicherheitsmaßnahmen</a></li>
    <li><a class="index-link" href="#m182">Kontakt- und Anfragenverwaltung</a></li>
    <li><a class="index-link" href="#m136">Präsenzen in sozialen Netzwerken (Social Media)</a></li>
  </ul>
  <h2 id="m3">Verantwortlicher</h2>
  <p>Julian Klee<br>Am Aspherfeld 23<br>35083 Wetter</p>
  E-Mail-Adresse: j.klee&#64;it-klee.de
  Impressum: <a href="https://it-klee/impressum" target="_blank">https://it-klee/impressum</a>

  <h2 id="mOverview">Übersicht der Verarbeitungen</h2>
  <p>Die nachfolgende Übersicht fasst die Arten der verarbeiteten Daten und die Zwecke ihrer Verarbeitung zusammen und
    verweist auf die betroffenen Personen.</p>
  <h3>Arten der verarbeiteten Daten</h3>
  <ul>
    <li>Kontaktdaten.</li>
    <li>Inhaltsdaten.</li>
    <li>Nutzungsdaten.</li>
    <li>Meta-, Kommunikations- und Verfahrensdaten.</li>
  </ul>
  <h3>Kategorien betroffener Personen</h3>
  <ul>
    <li>Kommunikationspartner.</li>
    <li>Nutzer.</li>
  </ul>
  <h3>Zwecke der Verarbeitung</h3>
  <ul>
    <li>Kontaktanfragen und Kommunikation.</li>
    <li>Verwaltung und Beantwortung von Anfragen.</li>
    <li>Feedback.</li>
    <li>Marketing.</li>
    <li>Bereitstellung unseres Onlineangebotes und Nutzerfreundlichkeit.</li>
  </ul>
  <h2 id="m2427">Maßgebliche Rechtsgrundlagen</h2>
  <p><strong>Maßgebliche Rechtsgrundlagen nach der DSGVO: </strong>Im Folgenden erhalten Sie eine Übersicht der
    Rechtsgrundlagen der DSGVO, auf deren Basis wir personenbezogene Daten verarbeiten. Bitte nehmen Sie zur Kenntnis,
    dass neben den Regelungen der DSGVO nationale Datenschutzvorgaben in Ihrem bzw. unserem Wohn- oder Sitzland gelten
    können. Sollten ferner im Einzelfall speziellere Rechtsgrundlagen maßgeblich sein, teilen wir Ihnen diese in der
    Datenschutzerklärung mit.</p>
  <ul>
    <li><strong>Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO)</strong> - Die
      Verarbeitung ist für die Erfüllung eines Vertrags, dessen Vertragspartei die betroffene Person ist, oder zur
      Durchführung vorvertraglicher Maßnahmen erforderlich, die auf Anfrage der betroffenen Person erfolgen.</li>
    <li><strong>Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO)</strong> - Die Verarbeitung ist zur Wahrung der
      berechtigten Interessen des Verantwortlichen oder eines Dritten erforderlich, sofern nicht die Interessen oder
      Grundrechte und Grundfreiheiten der betroffenen Person, die den Schutz personenbezogener Daten erfordern,
      überwiegen.</li>
  </ul>
  <p><strong>Nationale Datenschutzregelungen in Deutschland: </strong>Zusätzlich zu den Datenschutzregelungen der DSGVO
    gelten nationale Regelungen zum Datenschutz in Deutschland. Hierzu gehört insbesondere das Gesetz zum Schutz vor
    Missbrauch personenbezogener Daten bei der Datenverarbeitung (Bundesdatenschutzgesetz – BDSG). Das BDSG enthält
    insbesondere Spezialregelungen zum Recht auf Auskunft, zum Recht auf Löschung, zum Widerspruchsrecht, zur Verarbeitung
    besonderer Kategorien personenbezogener Daten, zur Verarbeitung für andere Zwecke und zur Übermittlung sowie
    automatisierten Entscheidungsfindung im Einzelfall einschließlich Profiling. Ferner können Landesdatenschutzgesetze
    der einzelnen Bundesländer zur Anwendung gelangen.</p>
  <p><strong>Hinweis auf Geltung DSGVO und Schweizer DSG: </strong>Diese Datenschutzhinweise dienen sowohl der
    Informationserteilung nach dem schweizerischen Bundesgesetz über den Datenschutz (Schweizer DSG) als auch nach der
    Datenschutzgrundverordnung (DSGVO). Aus diesem Grund bitten wir Sie zu beachten, dass aufgrund der breiteren
    räumlichen Anwendung und Verständlichkeit die Begriffe der DSGVO verwendet werden. Insbesondere statt der im Schweizer
    DSG verwendeten Begriffe „Bearbeitung" von „Personendaten", "überwiegendes Interesse" und "besonders schützenswerte
    Personendaten" werden die in der DSGVO verwendeten Begriffe „Verarbeitung" von „personenbezogenen Daten" sowie
    "berechtigtes Interesse" und "besondere Kategorien von Daten" verwendet. Die gesetzliche Bedeutung der Begriffe wird
    jedoch im Rahmen der Geltung des Schweizer DSG weiterhin nach dem Schweizer DSG bestimmt.</p>

  <h2 id="m27">Sicherheitsmaßnahmen</h2>
  <p>Wir treffen nach Maßgabe der gesetzlichen Vorgaben unter Berücksichtigung des Stands der Technik, der
    Implementierungskosten und der Art, des Umfangs, der Umstände und der Zwecke der Verarbeitung sowie der
    unterschiedlichen Eintrittswahrscheinlichkeiten und des Ausmaßes der Bedrohung der Rechte und Freiheiten natürlicher
    Personen geeignete technische und organisatorische Maßnahmen, um ein dem Risiko angemessenes Schutzniveau zu
    gewährleisten.</p>
  <p>Zu den Maßnahmen gehören insbesondere die Sicherung der Vertraulichkeit, Integrität und Verfügbarkeit von Daten durch
    Kontrolle des physischen und elektronischen Zugangs zu den Daten als auch des sie betreffenden Zugriffs, der Eingabe,
    der Weitergabe, der Sicherung der Verfügbarkeit und ihrer Trennung. Des Weiteren haben wir Verfahren eingerichtet, die
    eine Wahrnehmung von Betroffenenrechten, die Löschung von Daten und Reaktionen auf die Gefährdung der Daten
    gewährleisten. Ferner berücksichtigen wir den Schutz personenbezogener Daten bereits bei der Entwicklung bzw. Auswahl
    von Hardware, Software sowie Verfahren entsprechend dem Prinzip des Datenschutzes, durch Technikgestaltung und durch
    datenschutzfreundliche Voreinstellungen.</p>
  <p>TLS/SSL-Verschlüsselung (https): Um die Daten der Benutzer, die über unsere Online-Dienste übertragen werden, zu
    schützen, verwenden wir TLS/SSL-Verschlüsselung. Secure Sockets Layer (SSL) ist die Standardtechnologie zur Sicherung
    von Internetverbindungen durch Verschlüsselung der zwischen einer Website oder App und einem Browser (oder zwischen
    zwei Servern) übertragenen Daten. Transport Layer Security (TLS) ist eine aktualisierte und sicherere Version von SSL.
    Hyper Text Transfer Protocol Secure (HTTPS) wird in der URL angezeigt, wenn eine Website durch ein SSL/TLS-Zertifikat
    gesichert ist.</p>

  <h2 id="m182">Kontakt- und Anfragenverwaltung</h2>
  <p>Bei der Kontaktaufnahme mit uns (z. B. per Post, Kontaktformular, E-Mail, Telefon oder via soziale Medien) sowie im
    Rahmen bestehender Nutzer- und Geschäftsbeziehungen werden die Angaben der anfragenden Personen verarbeitet soweit
    dies zur Beantwortung der Kontaktanfragen und etwaiger angefragter Maßnahmen erforderlich ist.</p>
  <ul class="m-elements">
    <li><strong>Verarbeitete Datenarten:</strong> Kontaktdaten (z. B. E-Mail, Telefonnummern); Inhaltsdaten (z. B.
      Eingaben in Onlineformularen); Nutzungsdaten (z. B. besuchte Webseiten, Interesse an Inhalten, Zugriffszeiten);
      Meta-, Kommunikations- und Verfahrensdaten (z. .B. IP-Adressen, Zeitangaben, Identifikationsnummern,
      Einwilligungsstatus).</li>
    <li><strong>Betroffene Personen:</strong> Kommunikationspartner.</li>
    <li><strong>Zwecke der Verarbeitung:</strong> Kontaktanfragen und Kommunikation; Verwaltung und Beantwortung von
      Anfragen; Feedback (z. B. Sammeln von Feedback via Online-Formular). Bereitstellung unseres Onlineangebotes und
      Nutzerfreundlichkeit.</li>
    <li class=""><strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).
      Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO).</li>
  </ul>
  <p><strong>Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten:</strong></p>
  <ul class="m-elements">
    <li><strong>Kontaktformular: </strong>Wenn Nutzer über unser Kontaktformular, E-Mail oder andere Kommunikationswege
      mit uns in Kontakt treten, verarbeiten wir die uns in diesem Zusammenhang mitgeteilten Daten zur Bearbeitung des
      mitgeteilten Anliegens; <span class=""><strong>Rechtsgrundlagen:</strong> Vertragserfüllung und vorvertragliche
        Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO), Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).</span>
    </li>
  </ul>
  <h2 id="m136">Präsenzen in sozialen Netzwerken (Social Media)</h2>
  <p>Wir unterhalten Onlinepräsenzen innerhalb sozialer Netzwerke und verarbeiten in diesem Rahmen Daten der Nutzer, um
    mit den dort aktiven Nutzern zu kommunizieren oder um Informationen über uns anzubieten.</p>
  <p>Wir weisen darauf hin, dass dabei Daten der Nutzer außerhalb des Raumes der Europäischen Union verarbeitet werden
    können. Hierdurch können sich für die Nutzer Risiken ergeben, weil so z. B. die Durchsetzung der Rechte der Nutzer
    erschwert werden könnte.</p>
  <p>Ferner werden die Daten der Nutzer innerhalb sozialer Netzwerke im Regelfall für Marktforschungs- und Werbezwecke
    verarbeitet. So können z. B. anhand des Nutzungsverhaltens und sich daraus ergebender Interessen der Nutzer
    Nutzungsprofile erstellt werden. Die Nutzungsprofile können wiederum verwendet werden, um z. B. Werbeanzeigen
    innerhalb und außerhalb der Netzwerke zu schalten, die mutmaßlich den Interessen der Nutzer entsprechen. Zu diesen
    Zwecken werden im Regelfall Cookies auf den Rechnern der Nutzer gespeichert, in denen das Nutzungsverhalten und die
    Interessen der Nutzer gespeichert werden. Ferner können in den Nutzungsprofilen auch Daten unabhängig der von den
    Nutzern verwendeten Geräte gespeichert werden (insbesondere, wenn die Nutzer Mitglieder der jeweiligen Plattformen
    sind und bei diesen eingeloggt sind).</p>
  <p>Für eine detaillierte Darstellung der jeweiligen Verarbeitungsformen und der Widerspruchsmöglichkeiten (Opt-Out)
    verweisen wir auf die Datenschutzerklärungen und Angaben der Betreiber der jeweiligen Netzwerke.</p>
  <p>Auch im Fall von Auskunftsanfragen und der Geltendmachung von Betroffenenrechten weisen wir darauf hin, dass diese am
    effektivsten bei den Anbietern geltend gemacht werden können. Nur die Anbieter haben jeweils Zugriff auf die Daten der
    Nutzer und können direkt entsprechende Maßnahmen ergreifen und Auskünfte geben. Sollten Sie dennoch Hilfe benötigen,
    dann können Sie sich an uns wenden.</p>
  <ul class="m-elements">
    <li><strong>Verarbeitete Datenarten:</strong> Kontaktdaten (z. B. E-Mail, Telefonnummern); Inhaltsdaten (z. B.
      Eingaben in Onlineformularen); Nutzungsdaten (z. B. besuchte Webseiten, Interesse an Inhalten, Zugriffszeiten);
      Meta-, Kommunikations- und Verfahrensdaten (z. .B. IP-Adressen, Zeitangaben, Identifikationsnummern,
      Einwilligungsstatus).</li>
    <li><strong>Betroffene Personen:</strong> Nutzer (z. .B. Webseitenbesucher, Nutzer von Onlinediensten).</li>
    <li><strong>Zwecke der Verarbeitung:</strong> Kontaktanfragen und Kommunikation; Feedback (z. B. Sammeln von Feedback
      via Online-Formular). Marketing.</li>
    <li class=""><strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).</li>
  </ul>
  <p><strong>Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten:</strong></p>
  <ul class="m-elements">
    <li><strong>LinkedIn: </strong>Soziales Netzwerk; <strong>Dienstanbieter:</strong> LinkedIn Ireland Unlimited Company,
      Wilton Place, Dublin 2, Irland; <span class=""><strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6
        Abs. 1 S. 1 lit. f) DSGVO); </span><strong>Website:</strong> <a href="https://www.linkedin.com"
        target="_blank">https://www.linkedin.com</a>; <strong>Datenschutzerklärung:</strong> <a
        href="https://www.linkedin.com/legal/privacy-policy"
        target="_blank">https://www.linkedin.com/legal/privacy-policy</a>; <strong>Grundlage
        Drittlandübermittlung:</strong> <span class=""> EU-US Data Privacy Framework (DPF),
      </span>Standardvertragsklauseln (<a href="https://legal.linkedin.com/dpa"
        target="_blank">https://legal.linkedin.com/dpa</a>); <strong>Widerspruchsmöglichkeit (Opt-Out):</strong> <a
        href="https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out"
        target="_blank">https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out</a>; <strong>Weitere
        Informationen:</strong> Wir sind gemeinsam mit LinkedIn Irland Unlimited Company für die Erhebung (jedoch nicht
      die weitere Verarbeitung) von Daten der Besucher, die zu Zwecken der Erstellung der „Page-Insights" (Statistiken)
      unserer LinkedIn-Profile verantwortlich. <br>Zu diesen Daten gehören Informationen zu den Arten von Inhalten, die
      Nutzer sich ansehen oder mit denen sie interagieren, oder die von ihnen vorgenommenen Handlungen sowie Informationen
      über die von den Nutzern genutzten Geräte (z. B. IP-Adressen, Betriebssystem, Browsertyp, Spracheinstellungen,
      Cookie-Daten) und Angaben aus dem Profil der Nutzer, wie Berufsfunktion, Land, Branche, Hierarchieebene,
      Unternehmensgröße und Beschäftigungsstatus. Datenschutzinformationen zur Verarbeitung von Daten der Nutzer durch
      LinkedIn können den Datenschutzhinweisen von LinkedIn entnommen werden: <a
        href="https://www.linkedin.com/legal/privacy-policy"
        target="_blank">https://www.linkedin.com/legal/privacy-policy</a> <br>Wir haben mit LinkedIn Irland eine spezielle
      Vereinbarung abgeschlossen ("Page Insights Joint Controller Addendum (the ‚Addendum‘)", <a
        href="https://legal.linkedin.com/pages-joint-controller-addendum"
        target="_blank">https://legal.linkedin.com/pages-joint-controller-addendum</a>), in der insbesondere geregelt
      wird, welche Sicherheitsmaßnahmen LinkedIn beachten muss und in der LinkedIn sich bereit erklärt hat die
      Betroffenenrechte zu erfüllen (d. h. Nutzer können z. .B. Auskünfte oder Löschungsanfragen direkt an LinkedIn
      richten). Die Rechte der Nutzer (insbesondere auf Auskunft, Löschung, Widerspruch und Beschwerde bei zuständiger
      Aufsichtsbehörde), werden durch die Vereinbarungen mit LinkedIn nicht eingeschränkt. Die gemeinsame
      Verantwortlichkeit beschränkt sich auf die Erhebung der Daten durch und die Übermittlung an die Ireland Unlimited
      Company, ein Unternehmen mit Sitz in der EU. Die weitere Verarbeitung der Daten obliegt ausschließlich der Ireland
      Unlimited Company, was insbesondere die Übermittlung der Daten an die Muttergesellschaft LinkedIn Corporation in den
      USA betrifft.</li>
  </ul>
</div>
<app-footer></app-footer>
